#contact {
	height: 50vh;
}

.container__contact {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.icon-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0 1rem;
}

@media screen and (max-width: 1048px) {

}

@media screen and (max-width: 600px) {
	#contact{
		height: 100vh;
	}
}

